<!DOCTYPE html>
<html>
　　<head>
　　　　<title>{{ page.title }}</title>
　　</head>
    <body>
        <center>
         <div style="width:80%">
　　       <h2>{{ page.title }}</h2>
	   {{ post.date | date_to_string }}
           <hr/>
　　　　   <br/>{{ content }}
           <br/><br/>
           <div style="width:50%">
              <hr/>
              <a href="/">Blog Home</a>&nbsp;&nbsp;<a href="https://github.com/Yhzhtk">My Git Home</a>
           <br/><br/>
           </div>
         </div>
        </center>
    </body>
</html>

