---
layout: default
---
<h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
<p class="meta">
	{{ page.date | date: "%Y-%m-%d" }} &nbsp;&nbsp;
	{% for tag in page.tags %}
		<a href="{{ site.baseurl }}/tags.html#{{ tag }}" title="标签 {{ tag }}">{{ tag }}</a>&nbsp;
	{% endfor %}
</p>

<br/>
<div id="post">
{{ content }}
</div>

{% if page.previous %}
    <div style="float:left"><a href="{{ site.baseurl }}{{ page.previous.url }}" title="上一篇">&larr; {{ page.previous.title }}</a></div>
{% else %}
    <div style="float:left">&larr; 没有了</div>
{% endif %}

{% if page.next %}
    <div style="float:right"><a href="{{ site.baseurl }}{{ page.next.url }}" title="下一篇">{{ page.next.title }} &rarr;</a></div>
{% else %}
    <div style="float:right">没有了 &rarr;</div>
{% endif %}
<hr/>

{% include disqus-embed.html %}
    
